:root {
  --primary: #31708e;
}

header {
  background: var(--primary);
  padding: 20px;
  text-align: center;
}

.uvi-low {
  background-color: seagreen;
  color: white;
  display: inline;
}

.uvi-mod {
  background-color: orange;
  color: white;
  display: inline;
}

.uvi-high {
  background-color: red;
  color: white;
  display: inline;
}